@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.dark-mode {
    background-color: #1F1F1F;
    color: white;
}


.dmode_black_button {
    background-color: white;
    color: #1F1F1F;
    border-radius: 10px;
    width: max-content;
    padding: 8px 16px 8px 16px;
    margin: 32px;
}

.figma_lottie {
    vertical-align: middle;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.flex-item-left {
    flex: 50%;
    vertical-align: middle;
    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-right {
    flex: 50%;
    vertical-align: middle;
    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-left #block_1 {
    vertical-align: middle;
    padding: 0px 16px 0px 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
}

.title_header {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    padding: 0px 16px 0px 16px;
    margin: 0px 16px 0px 16px;
}

.tagline {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    padding: 0px 16px 0px 16px;
    margin: 0px 16px 0px 16px;
}

.sub_title {
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    padding: 0px 16px 0px 16px;
    margin: 0px 16px 0px 16px;
}

.content {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding: 0px 16px 0px 16px;
    margin: 0px 16px 0px 16px;
}

.black_button {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: max-content;
    padding: 8px 16px 8px 16px;
    margin: 32px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: black;
    color: white;
}

p {
    font-family: 'Poppins', sans-serif;
    size: 20px;
}

.link {
    color: #1F1F1F;
    font-family: 'Poppins', sans-serif;
    size: 16px;
}

.icons_block {
    color: white;
    display: flex;
    margin: 32px;
}

.icons {
    width: 32px;
    /* padding: 16px; */
    margin: 16px;
}

#subscribe {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    padding: 0px 16px 0px 16px;
    margin: 0px 16px 0px 16px;
}

input {
    padding: 4px 16px 4px 16px;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    margin: 32px;
}

.small_text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 0px 16px 0px 16px;
    margin: 0px 16px 0px 16px;
}

#floating_button {
    position: fixed;
    margin: 32px;
    bottom: 0;
    right: 0;
}

#bulb_button {
    position: fixed;
    margin: 32px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.credits_header {
    font-family: 'Poppins', sans-serif;
    font-size: 82px;
    color: black;
    z-index: -1;
    padding: 0px 16px 0px 16px;
    margin: 0px 16px 0px 16px;
}

.credit_content {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    padding: 0px 16px 0px 16px;
    margin: 0px 16px 0px 16px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}